[submodule "submodules/gene_lists"]
	path = submodules/gene_lists
	url = https://github.com/macarthur-lab/gene_lists
[submodule "submodules/GeneticsDesign"]
	path = submodules/GeneticsDesign
	url = https://github.com/cdeboever3/GeneticsDesign.git
